#contact {
  padding: 70px 20px;
}

.contact-wrapper {
  padding: 60px 0;
}

.contact-header {
  text-align: left;
  margin-bottom: 50px;
}

.contact-header h5 {
  color: #0c96e2;
  font-size: 20px;
}

.contact-header h1 {
  font-size: 40px;
  margin-top: 15px;
}

.contact-header h1 span {
  color: #0c96e2;
}

.contact-content {
  display: flex;
  gap: 80px;
  align-items: stretch;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
}

.icon-box {
  background: #0c96e2;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 24px;
  height: 24px;
}

.info-text p {
  color: gray;
  margin-bottom: 5px;
}


.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  gap: 20px;
}

.input-group input {
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #bec0bf;
  border-radius: 8px;
  background: transparent;
  font-size: 16px;
}

textarea {
  resize: none;
}

.send-btn {
  margin-top: 15px;
  align-self: flex-start;
  padding: 12px 30px;
  background: #0c96e2;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.send-btn:hover {
  background: #0b7dc2;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    gap: 40px;
  }

  .contact-header h1 {
    font-size: 32px;
  }

  .input-group {
    flex-direction: column;
    gap: 15px;
  }

  input,
  textarea {
    font-size: 14px;
  }

  .send-btn {
    width: 100%;
    text-align: center;
  }
}
