.project-details-page {
  padding: 2rem;
}

.projects-slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 2rem 0;
  margin-top: 2rem;
}

.slider-item {
  flex: 0 0 250px;
  text-align: center;
  text-decoration: none;
}

.slider-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.slider-item:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
